{% extends "root.twig" %}

{% block title %}Create{% endblock %}

{% block content %}
    {% if short is not empty %}
        <span>{{ short }}</span>
    {% endif %}
    <form action="/{{ token }}" method="post">
        <p style="color: red">{{ error }}</p>
        <input type="text" name="url" value="{{ url }}">
        <input type="submit">
    </form>
    <pre>{{ urls | json_encode(128) }}</pre>
{% endblock %}